:root {
    --blanco: #FFF;
    --negro: #111;
    --gris: #343A40;
    --fuentePrincipal: 'Poppins', sans-serif;
    --azul: rgb(20, 20, 40);
    --azulFuerte: rgb(15, 14, 33);
    --cafe: rgb(110, 88, 89);
    --grisspace: rgb(48, 47, 68);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1rem es igual a 10px*/
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
}

h1,
h2,
h3 {
    font-weight: 700;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 90%;
    display: block;
}

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

[class$="__contenedor"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

[class$="__heading"] {
    color: var(--blanco);
    text-align: center;
}

/*Header*/
.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.4), rgba(12, 3, 51, 0.4));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navegacion {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .navegacion {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    width: 4rem;
    height: 4rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .logo {
        width: 8rem;
        height: 8rem;
    }
}

.barra {
    text-align: center;
    width: 100%;
}

@media (min-width: 768px) {
    .barra {
        width: unset;
    }
}

.barra-contenido {
    padding: 0;
}

.barra-contenido li {
    display: block;
    margin-bottom: 1rem;
    line-height: 1;
}

@media (min-width: 768px) {
    .barra-contenido li {
        display: inline-block;
        margin-left: 4rem;
        margin-bottom: unset;
    }
}

.barra-contenido a {
    font-size: 1.5rem;
    color: var(--blanco);
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 1rem;
    transition: all 0.3s;
}

.barra-contenido a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color: var(--negro);
}

@media (min-width: 768px) {
    .barra-contenido a {
        font-size: 1.8rem;
        width: unset;
    }
}

.contenido-central {
    text-align: center;
    color: var(--blanco);
    margin: 1rem 0;
}

.contenido-central h1 {
    font-weight: 600;
    font-size: 5.5rem;
    line-height: 1;
    transition: color 0.3s;
}

@media (min-width: 768px) {
    .contenido-central h1 {
        font-size: 9rem;
    }
}

.contenido-central h1:hover {
    -webkit-text-stroke: 2px var(--blanco);
    color: transparent;
    cursor: pointer;
}

.contenido-central a {
    color: var(--blanco);
    display: inline-block;
    font-size: 2.4rem;
    border: 2px solid var(--blanco);
    padding: 1.4rem 7rem;
    border-radius: 5rem;
    line-height: 1;
    transition: all .3s;
}

.contenido-central a:hover {
    background-color: var(--blanco);
    color: var(--negro);
}

/* .back-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
} */
.back-video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translate(-50%, -50%);

}

/* @media (min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
} */

/*Main especialidades*/
.servicios {
    background-color: var(--azul);
    padding-top: 8rem;
    position: relative;
}

.servicios__waves {
    translate: 0 1rem;
}
.servicios__heading {
    font-size: 4rem;
    text-shadow: 4px 3px 10px rgba(255, 255, 255, 0.56);
    padding: 3rem 0;
    border-bottom: 1px solid var(--blanco);
}
@media (min-width: 768px) {
    .servicios__heading {
        font-size: 6rem;
    }
}

.servicios__heading:hover {}

.listados {
    margin: 5rem 0;
}

.listados__grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 8rem;
}

@media (min-width: 768px) {
    .listados__grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        gap: 5rem;
    }
}

@media (min-width: 992px) {
    .listados__grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

/* .listado {}

.listado__heading {
    font-size: 3.5rem;
}

.listado__imagen {
    margin: auto;
}

.listado__informacion {
    color: var(--blanco);
    text-align: center;
} */

.listado {
    background-color: transparent;
    max-width: 40rem;
    height: 55rem;
    perspective: 1000px;
}

.listado__lados {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.listado:hover .listado__lados {
    transform: rotateY(180deg);
}

.listado__heading {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem 0;
    padding: 0 1.5rem;
    color: var(--negro);
}

.listado__heading--frontal {
    font-size: 4rem;
}

.listado__contenido {
    /* background-image: linear-gradient(rgba(12, 3, 51, 0.4), rgba(12, 3, 51, 0.4)); */
    padding-bottom: 2rem;
}

.listado__imagen {
    margin: 0 auto;
    filter: opacity(75%);
    /* filter: drop-shadow(3px 3px rgb(0, 0, 0))sepia(100%); */
}

.listado__frontal,
.listado__reverse {
    box-shadow: 0 8px 14px 0 rgba(255, 255, 255, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgb(48, 47, 68);
    border-radius: 1rem;
}

.listado__frontal {
    /* background-image: linear-gradient(to right bottom, #302f44, #433e52, #554e61, #685f70, #7b717f); */
    background-image: linear-gradient(to right bottom, #ffffff, #ebeaf5, #d7d5ea, #c3c0e0, #afacd6);
    color: var(--negro);
}

.listado__reverse {
    /* background-image: linear-gradient(to left top, #302f44, #433e52, #554e61, #685f70, #7b717f);
    color: var(--blanco); */
    background-image: linear-gradient(to left top, #ffffff, #ebeaf5, #d7d5ea, #c3c0e0, #afacd6);
    color: var(--negro);
    transform: rotateY(180deg);
}

.listado__informacion {
    padding: 0 1.5rem;
    font-size: 2rem;
}

.listado__informacion--frontal {
    font-size: 2.5rem;
}

/*Nosotros sobre mi*/
.nosotros {
    background-color: var(--grisspace);
    /* padding-top: 5rem; */
    position: relative;
    margin: 0;
    padding: 0;
}

.nosotros__waves {
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
}

.nosotros__heading {
    font-size: 5rem;
    margin-bottom: 5rem;
    text-shadow: 4px 3px 10px rgba(255, 255, 255, 0.56);
}
@media (min-width: 768px) {
    .nosotros__heading {
        font-size: 10rem;
    }
}

.nosotros__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .nosotros__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.sobre-mi__informacion {
    color: var(--blanco);
    font-size: 2.5rem;
    text-align: center;
}

.sobre-mi__imagen {
    margin: 0 auto;
}

.nosotros__waves-bottom {
    bottom: 0;
    right: 0;
    width: 100%;
    translate: 0 4px;
}